<center>
<h1>Register</h1>
</center>
</hr>


<!-- Register Form  -->
</br> 
<% if @employee.errors.any?%>
<div>
<h3><%=pluralize(@employee.errors.count,' errors')%> 
Prohibited the Form from being sent:</h3>
<ul>
<% @employee.errors.full_messages.each do |message|%>
<li><%= message%></li>
<% end %>
</ul>
<% end%>
</div>
<%=form_for(@employee, url: employees_path) do |f| %>
<div class= "col-md-6 centered-form" >

<div class='form-group'>
<%=f.text_field :username, class: "ghost-input", placeholder: "Enter a Username"%>
</div>
<div class='form-group'>
<%=f.text_field :f_name, class: "ghost-input", placeholder: "Enter your First Name"%>
</div>
<div class='form-group'>
<%=f.text_field :l_name, class: "ghost-input", placeholder: "Enter your Last Name"%>
</div>
<div class='form-group'>
<%=f.text_field :email, class: "ghost-input", placeholder: "Enter your Email Address"%>
</div>
<div class="form-group"> 
<%=f.text_field :phone, class: "ghost-input", placeholder: "Phone Number"%>
</div>
<div class='form-group'>
<%=f.password_field :password, class: "ghost-input", placeholder: "I am a password field"%>
</div>
<div class='form-group'>
<%=f.text_field :authcode, class: "ghost-input", placeholder: "Enter your Authorization"%>
</div>
<%=f.submit ('Register'), class: "ghost-button" %>
<% end %>
</div>

