<h1>Profile: <%=@employee.full_name%></h1>
</hr>

</br>
</br>

<table class="table">
	<tr>
	<th>Date</th>
	<th>Position</th>
	<th>Remove</th>
	</tr>
		<%@shift.each do |shift|%>
	<tr> 
		<td><%=shift.shift_day.strftime("%m/%d")%></td>
        <td><%=shift.position%></td> 
        <td><%=link_to 'Remove', employee_shift_path(current_employee, shift.id) , method: :delete, data: { confirm: "Are you sure?" } %></td>
	</tr>
		<%end%>
</table>


<%=link_to 'Back', employee_shifts_path(@employee), class: "btn btn-success"%>
