<h1>Profile: <%=@employee.full_name%></h1>
</hr>
<%=link_to 'Bulletin', employee_shifts_path(@employee), class: "btn btn-success"%>
<%= link_to 'Add Shift', new_employee_shift_path(current_employee.id), class: "btn btn-primary"%>
</br>
</br>

<p> Notification Type: </p>
<%=form_tag employee_message_choice_path(@employee), method: 'post' do %>
<%if @employee.flag == 'email'%>
<%= radio_button_tag 'flag', 'email', :checked => true %> Email
<%else%>
<%= radio_button_tag 'flag', 'email'%> Email
<%end%>
<%if @employee.flag == 'text_message'%>
<%= radio_button_tag 'flag', 'text_message', :checked => true %> Text Message
<%else%>
<%= radio_button_tag 'flag', 'text_message'%> Text Message
<%end%>
<%= submit_tag 'Set' %>
<%end%>
</br>

<p>Stop Notifications: <span> Yes</span> <span>No</span></p>


<h2> My Shifts</h2>
<table class="table">
	<tr>
	<th>Shift Id</th>
	<th>Date</th>
	<th>Position</th>
	<th>Remove</th>
	</tr>
		<% @shift.each do |shift|%>
	<tr> 
		<td><%= shift.id%></td>
		<td><%=shift.shift_day.strftime("%m/%d")%></td>
        <td><%="#{shift.position}"%></td> 
        <td><%=link_to 'Remove', employee_shift_path(current_employee, shift.id) , method: :delete, data: { confirm: "Are you sure?" } %></td>
	</tr>
		<%end%>
</table>

 <h2>Shifts I Want</h2>
<!-- -->
Coming Soon 
<ul>

</ul>
