<style>
  .selected { 
    background-color: #ff0000;
    }
</style>

<h1>Bulletin</h1> 
<hr/>
<body>
<%if logged_in?%>

<p>All available shifts</p> 

<h3>Week</h3> of <%= Date.today.strftime("%b %Y")%>
<ul class='days'>
  <li class='btn btn-default'> Current Week </li>
  <li class='btn btn-default'> Next Week </li>
  <li class='btn btn-default'> Week 3 </li>
  <li class='btn btn-default'> Week 4 </li>
</ul>
<%=form_tag('/bulletin', method: :get) do %>
<%=select_tag( "day", options_for_select(@container))%>
<%end%>
<!-- Pressing the week shouldnt reset the days-->

<div id="wrapper">
	<div id="columns">
		<% @shifts.each do |shift|%>
				<div class='pin' data-day='<%=shift.shift_day.strftime("%A").downcase%>'>
 			 		<%= image_tag "shift.jpg", class: "img-responsive" %>
 			 		<%= shift.employee.full_name%>
  				<%= shift.shift_day.strftime "%Y/%m/%d"%>
  				<%=link_to "shift(n)", employee_shift_path(shift.employee_id , shift.id)%>
  				<%=button_to 'Request', notify_employee_shift_path(shift.employee_id, shift.id)%>
				</div>
		<%end%> 		
  </div>
</div>
			
<%end%>

</body>


