<style>
  .selected { 
    background-color: #ff0000;
    }
</style>

<h1 class="col-xs-12 text-center">Bulletin</h1> 
<hr/>
<body>
<%if logged_in?%>

<p class="text-center">All available shifts</p> 

<h3 class="text-center">Week of <%= Date.today.strftime("%b %Y")%></h3>

<div class="row">
  <div class="col-xs-3">
<%=link_to 'Current', bulletin_path(:week => 1), method: :get, class: "btn btn-primary" %>
  </div>

  <div class="col-xs-3">
<%=link_to 'Next Week', bulletin_path(:week => 2), method: :get , class: "btn btn-primary" %>
  </div>

  <div class="col-xs-3">
<%=link_to 'Week 3', bulletin_path(:week => 3), method: :get, class: "btn btn-primary " %>
  </div>

  <div class="col-xs-3">
<%=link_to 'Week 4', bulletin_path(:week => 4), method: :get, class: "btn btn-primary" %>
  </div>
</div>
</br>
<%=form_tag('/bulletin', method: :get) do %>
<% if @container%>
<div class="">
<%=select_tag( "day", options_for_select(@container))%>
</div>
</br>
<%=submit_tag "search", class: "btn btn-success btn-block"%>
<% else %>
<div class="">
<%= select_tag("day")%>
</div>
</br>
<%= submit_tag "search", class: "btn btn-success btn-block" %>
<%end %>
<%end%>

<!-- Pressing the week shouldnt reset the days-->
<p class="pull-right"> Total Shifts <span class="badge"><%= @shifts.count%></span></p>
<div id="wrapper">
	<div id="columns">
		<% @shifts.each do |shift|%>
				<div class='pin' data-day='<%=shift.shift_day.strftime("%A").downcase%>'>
 			 		<%= image_tag "shift.jpg", class: "img-responsive" %>
 			 		<%= shift.employee.full_name%>
        </br>
  				<%= shift.shift_day.strftime "%m/%d/%Y"%>
        </br>
          <%= "#{shift.start.strftime("%I:%M%P")} - #{shift.end.strftime(" %I:%M%P")}"%>
          <%if shift.employee_id != current_employee.id %>
  				<%=button_to "Request", notify_employee_shift_path(shift.employee_id, shift.id)%>
          <%end%>
				</div>
		<%end%> 		
  </div>
</div>
			
<%end%>

</body>


