<style>
  .selected { 
    background-color: #ff0000;
    }
</style>

<div class="container top">
<h1 class="col-xs-12 text-center">Bulletin</h1> 
<hr/>
<body>
<%if logged_in?%>

<p class="text-center">All available shifts</p> 

<div class="row">
<div>
<%=link_to 'Current', bulletin_path(:week => 1), method: :get, class: "btn btn-primary col-xs-3" %>
</div>
<div>
<%=link_to 'Next Week', bulletin_path(:week => 2), method: :get , class: "btn btn-primary col-xs-3" %>
</div>
<div>
<%=link_to 'Week 3', bulletin_path(:week => 3), method: :get, class: "btn btn-primary col-xs-3" %>
</div>
<div>
<%=link_to 'Week 4', bulletin_path(:week => 4), method: :get, class: "btn btn-primary col-xs-3" %>
</div>
</div>

</br>
<%=form_tag('/bulletin', method: :get) do %>
<% if @container%>
<div class="">
<%=select_tag( "day", options_for_select(@container))%>
</div>
</br>
<%=submit_tag "search", class: "btn btn-success btn-block"%>
<% else %>
<div class="">
<%= select_tag("day")%>
</div>
</br>
<%= submit_tag "search", class: "btn btn-success btn-block" %>
<%end %>
<%end%>

<h1>All Available Shifts</h1>
<h5>Today <%= Date.today.strftime("%B %d") %></h5>
<!-- Pressing the week shouldnt reset the days-->

<div id="total">
<p class="pull-right"> Total Shifts <span class="badge"><%= @shifts.count%></span></p>
</div>
 <ul>
		<% @shifts.each do |shift|%>
    <li>
      <div class="panel-heading"><h4><%= shift.employee.full_name%></h4></div>
      <div class="panel panel-default">
        <div class="panel-body">
  			   <%= shift.shift_day.strftime "%m/%d/%Y"%>
           <%= "#{shift.start.strftime("%I:%M%P")} - #{shift.end.strftime(" %I:%M%P")}"%>
        <div class="panel-footer"> 
        <%if shift.employee_id != current_employee.id %>
        <%=button_to "Request", notify_employee_shift_path(shift.employee_id, shift.id)%>
        <%else%>
          Shift Not Available
        <%end%>  
        </div>
       </div>
      </div>
    </li>
		<%end%> 	
<%end%>
</ul>
  <%= will_paginate @shifts, renderer: BootstrapPagination::Rails%>
</div>




</body>


