<style>
  .selected { 
    background-color: #ff0000;
    }
</style>

<h1>Bulletin</h1> 
<hr/>
<body>
<%if logged_in?%>

<p>All available shifts</p> 

<h3>Week of <%= Date.today.strftime("%b %Y")%></h3>

<%=link_to 'Current Week', bulletin_path(:week => 1), method: :get, class: "btn btn-default" %>
<%=link_to 'Next Week', bulletin_path(:week => 2), method: :get , class: "btn btn-default" %>
<%=link_to 'Week 3', bulletin_path(:week => 3), method: :get, class: "btn btn-default" %>
<%=link_to 'Week 4', bulletin_path(:week => 4), method: :get, class: "btn btn-default" %>
</br>
</br>

<%=form_tag('/bulletin', method: :get) do %>
<% if @container %>
<%=select_tag( "day", options_for_select(@container))%>
<%=submit_tag "search", class: "btn btn-success"%>
<% end %>
<%end%>

<!-- Pressing the week shouldnt reset the days-->

<div id="wrapper">
	<div id="columns">
		<% @shifts.each do |shift|%>
				<div class='pin' data-day='<%=shift.shift_day.strftime("%A").downcase%>'>
 			 		<%= image_tag "shift.jpg", class: "img-responsive" %>
 			 		<%= shift.employee.full_name%>
        </br>
  				<%= shift.shift_day.strftime "%m/%d/%Y"%>
        </br>
          <%= "#{shift.start.strftime("%I:%M%P")} - #{shift.end.strftime(" %I:%M%P")}"%>
          <%if shift.employee_id != current_employee.id %>
  				<%=button_to 'Request', notify_employee_shift_path(shift.employee_id, shift.id)%>
          <%end%>
				</div>
		<%end%> 		
  </div>
</div>
			
<%end%>

</body>


