<h1>Bulletin</h1> 
<hr/>


<%if logged_in?%>
<table border="1" style="width:100%" class="table">
	<!-- <tr>
		<th>Name</th>
		<th>Date<th>
		<th>Start</th>
		<th>End</th>
		<th>Position</th>
	</tr> -->
	<tr>

<!-- Nest iterate through this table structure with employee and then employee.shift -->   	
<% @shifts.each do |shift| %>
		<td><%=shift.employee.full_name %></td>
		<td><%=shift.shift_day.strftime("%m/%d")%></td>
		<td><%=shift.start.strftime("%I:%M %p") %></td>
		<td><%=shift.end.strftime("%I:%M %p") %></td>
		<td><%=shift.position%></td>
		<td><%=link_to 'Notify' ,notify_employee_shift_path(shift.employee_id , shift.id, notify: true), method: 'post', class: "btn btn-success"  %><td>
	</tr>
		<%end%>
</table>
<%end%>


