<h1>Bulletin</h1> 
<%if logged_in?%>
<p>All available shifts<p>
<%end%>
<hr/>


<%if logged_in?%>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Date<th>
		<th>Start</th>
		<th>End</th>
		<th>Position</th>
		<th>Contact<th>
	</tr>
		<% @shifts.each do |shift| %> 
	<tr>
		<td><%=shift.employee.full_name %></td>
		<td><%=shift.shift_day.strftime("%m/%d")%></td>
		<td><%=shift.start.strftime("%I:%M %p") %></td>
		<td><%=shift.end.strftime("%I:%M %p") %></td>
		<td><%=shift.position%></td>
		<%if shift.employee_id == current_employee.id%>
		<td>Not Available<td>
		<%else%>
		<td><%=link_to 'Notify' ,notify_employee_shift_path(shift.employee_id , shift.id, notify: true), method: 'post', class: "btn btn-success" %><td>
		<%end%>
	</tr>
		<%end%>
</table>
<%end%>


