<!DOCTYPE html>
<html>
<head>
  <title>Adjust</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body> 
  <!-- NavBar  -->
  <div class="navbar navbar-inverse">
    <div class="container">
      <a class="navbar-brand pull-left" href='#'>SHIFTLIST.CO</a>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">  
            <%if logged_in?%>
            <li><%= link_to 'Logout', logout_path%></li>
            <li>Hello, <%= link_to current_employee.f_name, employee_path(current_employee)%></li>
            <%else%>
            <li><%=link_to 'New Account', sign_up_path%></li>
            <li><%=link_to 'Register', register_path%></li>
             <li><%=link_to 'Login', login_path%></li>
            <%end%>
          </ul>
    </div>
  </div>
</div>
<div class="container">
<!-- Flash Alert -->
<% flash.each do |type, message| %>
  <div class="alert alert-<%=type%> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>
<%= yield %>
</div>

</body>
</html>
