

<div class="container">
<div class='row'>
<h2 class='col-md-6' > Sign up for a free-trial and witness the power of 
			having a well connected staff!  </h2>
<form class='form-horizontal well well-sm col-md-6'>
<%= form_for(@account) do |account|%>
	<div class='form-group'>
	<p class='col-xs-4'>
		<%= account.label :name %>
		<%= account.text_field :name %>
	</p>
</div>
<div class='form-group'>
	<p class='col-xs-4'>
		<%= account.label 'Company Name'%>
		<%= account.text_field :subdomain %>
	</p>
</div>
<div class='form-group'>
	<%= account.fields_for :owner do |owner|%>
	<p class='col-xs-4'> 
		<%=owner.label :username %>
		<%=owner.text_field :username %>
	</p>
</div>
<div class='form-group'>
	<p class='col-xs-4'>
		<%=owner.label 'first name' %>
		<%=owner.text_field :f_name %>
	</p>
</div>
<div class='form-group'>
	<p class='col-xs-4'> 
		<%=owner.label 'last name' %>
		<%=owner.text_field :l_name %>
	</p>
</div>
<div class='form-group'>
	<p class='col-xs-4'> 
		<%=owner.label :email %>
		<%=owner.email_field :email %>
	</p>
</div>
<div class='form-group'>
	<p class='col-xs-4'> 
		<%=owner.label :password %>
		<%=owner.password_field :password %>
	</p>
</div>
	<%end%>
		<%= account.submit %>
<%end%>
</form>
</div>
</div>
