
<div class='container'>
<h2 class='pull-right' id='title'>Account Sign Up</h2>
<div class='pull-right'>
<%= form_for(@account) do |account|%>
	<p>
		<%= account.label :name %>
		<br>
		<%= account.text_field :name %>
	</p>
	<p>
		<%= account.label 'Company Name'%>
		<%= account.text_field :subdomain %>
	</p>
	<%= account.fields_for :owner do |owner|%>
	<p> <%=owner.label :username %>
		<%=owner.text_field :username %>
	</p>
	<p>
		<%=owner.label 'first name' %>
		<%=owner.text_field :f_name %>
	</p>
	<p> 
		<%=owner.label 'last name' %>
		<%=owner.text_field :l_name %>
	</p>
	<p> <%=owner.label :email %>
		<%=owner.email_field :email %>
	</p>
	<p> <%=owner.label :password %>
		<%=owner.password_field :password %>
	</p>
	<%end%>
		<%= account.submit  %>
<%end%>
</div>
</div>
